@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Playfair Display", sans-serif;
  line-height: 1.75; /* Adjust as needed */
  font-size: 1.25rem; /* Adjust as needed */
}

.number {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.font-lato {
  font-family: "Lato", sans-serif;
}

h1 {
  @apply text-2xl font-bold my-3;
}

h2 {
  @apply text-xl font-semibold my-2;
}

h3 {
  @apply text-lg font-semibold my-2;
}

details summary {
  text-align: left;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

details summary > div {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

/* Additional reset for summary to prevent browser-specific styling */
details summary {
  list-style: none;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
}

@layer utilities {
  @keyframes halo {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.3;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  .animate-halo {
    animation: halo 2s infinite;
  }

  /* Language Switcher Animation */
  @keyframes language-fade {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .language-fade {
    animation: language-fade 0.3s ease-out forwards;
  }
}
